<!DOCTYPE html>
<html lang="en">
<head>
    <!--favicon-->
    <link rel="icon" type="image/png" sizes="16x16" href="~/img/favicon/favicon-16x16.png" asp-append-version="true">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EventCoApp.WebApp</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />*@
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet" asp-append-version="true">
    <!--    CSS    ============================================= -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/css/linearicons.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/font-awesome.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/bootstrap.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/magnific-popup.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/jquery-ui.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/nice-select.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/animate.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/owl.carousel.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true">
</head>
<body>
    <header id="header">
        <div class="container main-menu">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/logo.png" alt="" title="" /></a>
                </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <partial name="_LoginPartial" />
                        @if (User.IsInRole("Creator"))
                        {
                            <li>
                                <a asp-area="" asp-controller="Events" asp-action="Create">Create Event</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="News" asp-action="Create">Create News</a>
                            </li>
                        }
                        <li>
                            <a asp-area="" asp-controller="Events" asp-action="Index">Browse Events</a>
                        </li>

                        <li>
                            <a asp-area="" asp-controller="Bookings" asp-action="Index">My Bookings</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </nav><!-- #nav-menu-container -->
            </div>
        </div>
    </header>
    @if (IsSectionDefined("NavBarText"))
    {
        <ul class="nav navbar-nav hidden-xs">
            <li>
                <p class="navbar-text">
                    @RenderSection("NavBarText")
                </p>
            </li>
        </ul>}
    <section class="destinations-area">
        <div class="row">
            <div class="col">

                @RenderBody()
                <br />

            </div>

        </div>
    </section>

    <footer class="footer-area section-gap">
        <div class="container">

            <div class="row">
                <div class="col-lg-4  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>About</h6>
                        <p>

                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>Navigation Links</h6>
                        <div class="row">
                            <div class="col">
                                <ul>
                                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                                    <li><a asp-area="" asp-controller="Events" asp-action="Index">Events</a></li>
                                </ul>
                            </div>
                            <div class="col">
                                <ul>
                                    <li><a asp-area="" asp-controller="Bookings" asp-action="Index">My Bookings</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>Newsletter</h6>
                        <div id="mc_embed_signup">
                            <form target="_blank" action="" method="get" class="subscription relative">
                                <div class="input-group d-flex flex-row">
                                    <input name="EMAIL" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                                    <button class="btn bb-btn"><span class="lnr lnr-location"></span></button>
                                </div>
                                <div class="mt-10 info"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                &copy; 2020 - EventCoApp.WebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </div>
    </footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @*<script src="~/js/popper.min.js"></script>*@
    @*<script src="~/js/vendor/bootstrap.min.js"></script>*@
    @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>*@
    <script src="~/js/jquery-ui.js" asp-append-version="true"></script>
    @*<script src="~/js/easing.min.js"></script>*@
    <script src="~/js/hoverIntent.js" asp-append-version="true"></script>
    <script src="~/js/superfish.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.ajaxchimp.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.magnific-popup.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.nice-select.min.js" asp-append-version="true"></script>
    <script src="~/js/owl.carousel.min.js" asp-append-version="true"></script>
    <script src="~/js/mail-script.js" asp-append-version="true"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    @*<script src="~/js/qrcode.min.js"></script>*@
    @RenderSection("Scripts", required: false)
</body>
</html>
