@model EventCoApp.DataAccessLibrary.Models.Role

@{ ViewData["Title"] = "Details"; }

<section class="about-banner relative">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="panel mb25">
        <h1 class="text-center"> Details</h1>
        <hr />
        <div class="panel-body">
            <div class="row no-margin">
                <div class="col-lg-8">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                    </dl>
                </div>
                <div class="col-lg-4">
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-default">Edit</a>
                    @*<a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>*@
                </div>
            </div>
        </div>
    </div>
</div>
