@{
    ViewData["Title"] = "Privacy Policy";
}
<section class="about-banner relative">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col text-center">

            <h1>@ViewData["Title"]</h1>

            <p>Use this page to detail your site's privacy policy.</p>
            <hr />
        </div>
    </div>
</div>